<%-partial('../confirm.ejs')%>

    <div class="block">
    <p>Administrators and parents</p>
    <table border="0">
      <tr class="table__headRow">
        <th>№</th>
        <th>Email</th>
        <th>Position</th>
        <th></th>
      </tr>
      <!--  -->
      <tr>
        <% for (var i=0; i< admins.length; i++) { %>
          <tbody>
            <tr class="info">
              <td><%=i+1%></td>
              <% if(admins[i].access_level == 2) { %>
                <td><a href="/publicProfile/admins/id<%=admins[i].id%>"><%=admins[i].email%></a></td>
                <td>Administrator</td>
                  <td class="delete"><button class="deleteBtn"  value="/deleteAdmin/id<%=admins[i].id%>" onclick="toggleConfirm()">Delete</button></td>
                <% }  else { %>
                  <td><a href="/publicProfile/coaches/id<%=admins[i].id%>"><%=admins[i].email%></a></td>
                  <td>Parent</td>
                  <td class="delete"><button class="deleteBtn"  value="/deleteAdmin/id<%=admins[i].id%>" onclick="toggleConfirm()">Delete</button></td>
                  <% } %>
                </tr>
              </tbody>
              <% } %>
            </tr>
          </table>
          <%-partial('../pagination')%>
      </div>

      <div class="block">
          <p>Create new administrator</p>
          <form action="/addNewAdmin" method="POST" name="addNewAdminForm" class="modal__form">
            <label for="login">Login</label>
            <input type="email" name="email" value="" required>
            <label for="login">Password</label>
            <input type="password" name="password" value="" required>
            <span class="error"></span>
            <button type="submit" name="button">Create</button>
          </form>
      </div>
